{% extends "template_base.html" %}

{% block title %}Bienvenido{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="mt-5">
        <h1>Bienvenido!</h1>
        <p>
            <div class="mt-4">
                <a href="{{ url_for('auth_view.register_view') }}" class="btn btn-primary">Registrarse</a>
                <a href="{{ url_for('auth_view.login_view') }}" class="btn btn-success">Iniciar sesión</a>
            </div>
        </p>
    </div>

    <h3>Resumen de Funcionalidades</h3>
    <p>Este sistema permite la gestión integral de un local de venta de celulares. A continuación, se presenta un resumen de las funcionalidades disponibles:</p>

    <div class="row">
        <div class="container mb-3">
            <div class="col-md-12">
                <h4>Acceso y Restricciones</h4>
                <p>
                    El sistema cuenta con las siguientes restricciones de acceso:
                    <ul>
                        <li>Solo los usuarios <strong>admin</strong> pueden ver los usuarios registrados, la administración del sistema, y los botones de CRUD.</li>
                        <li>Los usuarios no admin no podrán ver los <code>id</code> ni acceder a la administración ni usuarios.</li>
                    </ul>
                </p>

                <h4>Funcionalidades Principales</h4>
                <ul>
                    <li><strong>Login:</strong> Permite el acceso al sistema a través de credenciales.</li>
                    <li><strong>Creación de Usuarios:</strong> Registro de nuevos usuarios en el sistema.</li>
                    <li><strong>Endpoints para obtener los objetos de todos los modelos (sin restricción):</strong> Estos endpoints permiten recuperar los objetos de cada modelo sin restricciones, facilitando la visualización de datos públicos.</li>
                    <li><strong>Endpoint para crear un nuevo objeto (limitado a usuarios Admin):</strong> Solo los administradores tienen permiso para crear nuevos objetos, protegiendo la integridad de los datos.</li>
                    <li><strong>Documentación de Endpoints:</strong> Se incluye documentación detallada de cada endpoint del sistema.</li>
                    <li><strong>Serialización con Marshmallow:</strong> La serialización de datos se realiza utilizando Marshmallow, facilitando la conversión de los datos a JSON para su manejo en la API.</li>
                    <li><strong>Modelo Anidado:</strong> Al menos un modelo contiene otro modelo anidado para mejorar la organización y relación de los datos.</li>
                </ul>
{% endblock %}

